<% if(pagination==2){ %>
    <% page.post.each(function(post){ %>
        <%- partial('article', {post: post, index: true}) %>
    <% }) %>
    <% if (page.tatal > 1){ %>
        <nav id="page-nav">
            <%- paginator({
                prev_text: '&laquo; Prev',
                next_text: 'Next &raquo;',
            }) %>
        </nav>
    <% } %>
<% }else { %>


<% } %>